[submodule "M.2. Belajar Membuat Aplikasi Android untuk Pemula/6_submission/MyDistroList"]
	path = M.2. Belajar Membuat Aplikasi Android untuk Pemula/6_submission/MyDistroList
	url = git@github.com:mrizaln/MyDistroList.git
