software development life cycle
    planning
    analysis
    design
    development
    testing
    deployment
    maintenance

user requirement specification
    requirement gathering
        interview
        user stories
        straw man documents
        prototyping

spesifikasi teknis aplikasi
    clear
    unambiguous
    easy to understand
    complete
    consistent

how to research, analyze, and evaluate application requirements
    well formed communication with client
    do research before interact with client
        do takes notes
